---
import { getCollection, render, type CollectionEntry } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import CommunityBanner from "@components/CommunityBanner.astro";
import ExplorerBanner from "@components/ExplorerBanner.astro";

import SocialIcons from "@components/people/SocialIcons.astro";

import { Image } from "astro:assets";

type CollectionName = "staff";

export async function getStaticPaths() {
  const staff = await getCollection("staff");

  return [...staff].map((person) => ({
    params: { slug: person.id },
    props: { person },
  }));
}

const socials = (entry: CollectionEntry<CollectionName>) => {
  return {
    email: entry.data.email,
    x: entry.data.x,
    mastadon: entry.data.mastadon,
    linkedin: entry.data.linkedin,
    github: entry.data.github,
    orcid: entry.data.orcid,
    researchGate: entry.data.researchGate,
    googleScholar: entry.data.googleScholar,
    bluesky: entry.data.bluesky,
  };
};

const { person } = Astro.props;

const { Content } = await render(person);
---

<style lang="scss">
  @use "openaq-design-system/scss/variables" as variables;
  @use "openaq-design-system/scss/mixins/index" as mixins;

  .person-content {
    display: flex;
    justify-content: center;
    margin: 0 0 100px;
    position: relative;

    .person {
      display: flex;
      flex-direction: column;

      &__img {
        width: 300px;
        height: auto;
      }

      .person-description {
        border-top: 6px solid variables.$sky100;

        .person-name {
          @include mixins.display1;
          margin: 40px 0 0 0;
        }

        .person-title {
          @include mixins.heading1;
          color: variables.$sky120;
          margin: 0 0 40px 0;
        }

        .person-quote {
          @include mixins.body1;
          margin: 40px 0;
        }

        .person-bio {
          margin: 40px 0;

          h1,
          h2,
          h3,
          h4 {
            color: variables.$sky120;
            @include mixins.heading2;
          }

          p {
            @include mixins.body2;
            margin: 15px 0;
          }
        }
      }
    }
  }

  .person-image-placeholder {
    position: relative;
    overflow: hidden;
    width: 252px;
    height: 252px;

    .bubble-md {
      position: absolute;
      bottom: -14px;
    }

    .bubble-sm {
      position: absolute;
      bottom: -14px;
    }
  }
</style>

<PageLayout frontmatter={person.data}>
  <div class="person-content">
    <article class="person">
      <Image
        src={person.data.image}
        height={300}
        width={300}
        loading="eager"
        alt=`${person.data.name} portrait`
      />

      <div class="person-description">
        <h1 class="person-name gradient-title">{person.data.name}</h1>
        <h2 class="person-title">{person.data.position}</h2>
        <SocialIcons {...socials(person)} />
        <div class="person-bio"><Content /></div>
      </div>
    </article>
  </div>
  <CommunityBanner slot="banner" />
  <ExplorerBanner slot="banner-low" />
</PageLayout>
