---
import { getCollection } from "astro:content";
import StaffCard from "../../../components/people/StaffCard.astro";
import type { CollectionEntry } from "astro:content";
import PageLayout from "../../../layouts/PageLayout.astro";
import BoardCard from "../../../components/people/BoardCard.astro";
import AdvisorCard from "../../../components/people/AdvisorCard.astro";
const allStaff = await getCollection("staff");
const allBoard = await getCollection("board");
const allAdvisors = await getCollection("advisors");

type CollectionName = "staff" | "board" | "advisors";

const socials = (entry: CollectionEntry<CollectionName>) => {
  return {
    email: entry.data.email,
    x: entry.data.x,
    mastadon: entry.data.mastadon,
    linkedin: entry.data.linkedin,
    github: entry.data.github,
    orcid: entry.data.orcid,
    researchGate: entry.data.researchGate,
    googleScholar: entry.data.googleScholar,
    bluesky: entry.data.bluesky,
  };
};

const sortByName = (
  a: CollectionEntry<CollectionName>,
  b: CollectionEntry<CollectionName>
) => a.data.name.localeCompare(b.data.name);
---

<style lang="scss">
  .person-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 22px;
    row-gap: 22px;
    margin: 20px 0;

    @media (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>

<PageLayout>
  <h1 class="gradient-title">Team</h1>
  <p>
    The OpenAQ Team implements the day-to-day work of the organization, striving
    to meet the needs of those who contribute to, use and benefit from the
    OpenAQ Platform. Based in the U.S., we work remotely.
  </p>
  <section class="person-grid">
    {
      allStaff
        .sort(sortByName)
        .map((staff) => (
          <StaffCard
            name={staff.data.name}
            url={`/about/people/${staff.id}/`}
            position={staff.data.position}
            data={staff.body}
            socials={socials(staff)}
            portrait={staff.data.image}
          />
        ))
    }
  </section>
  <h1 class="gradient-title">Board</h1>
  <p>
    The OpenAQ Governing Board stewards the organization, focusing on high-level
    strategy, oversight and accountability. Members serve as ambassadors and
    advocates for OpenAQ. The Executive Director serves as CEO of the Governing
    Board.
  </p>
  <section class="person-grid">
    {
      allBoard
        .sort(sortByName)
        .map((board) => (
          <BoardCard
            name={board.data.name}
            position={board.data.position}
            data={board.body}
            socials={socials(board)}
            portrait={board.data.image}
          />
        ))
    }
  </section>
  <h1>Advisors</h1>
  <p>
    Members of the OpenAQ Advisory Board provide strategic advice and are
    enthusiastic advocates for OpenAQ in their respective fields and
    communities.
  </p>
  <section class="person-grid">
    {
      allAdvisors
        .sort(sortByName)
        .map((advisor) => (
          <AdvisorCard
            name={advisor.data.name}
            position={advisor.data.position}
            data={advisor.body}
            socials={socials(advisor)}
            portrait={advisor.data.image}
          />
        ))
    }
  </section>
</PageLayout>
