---
import { Image } from "astro:assets";

import removeMarkdown from "remove-markdown";

const { title, image, url, body } = Astro.props;

const summary = (content: string, length = 300): string => {
  const cleanText = removeMarkdown(content, {
    useImgAltText: false,
  });
  if (cleanText.length <= length) return cleanText;
  return cleanText.substring(0, cleanText.lastIndexOf(" ", length)) + "...";
};
---

<style lang="scss">
  @use "openaq-design-system/scss/variables";
  @use "openaq-design-system/scss/mixins/index.scss" as mixins;
  .initiative-card {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid variables.$smoke10;
    border-radius: 22px;
    gap: 20px;
    padding: 20px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    &-img {
      flex: 2;
      display: flex;
      justify-content: center;

      img {
        width: 100%;
        height: auto;
      }
    }

    .initiative-description {
      flex: 3;

      .initiative-description__title {
        @include mixins.heading2;
      }

      .initiative-description__body {
        p {
          @include mixins.body1;
          color: variables.$smoke120;
        }
        
        a {
          @include mixins.link1;
          color: variables.$smoke120;
        }
      }

      .initiative-description__body > p {
        padding-bottom: 10px;
      }

      .initiative-tags {
        padding: 10px 20px;
        display: flex;
        gap: 12px;
      }
    }
  }
  
  .initiative-card {
    position: relative;
  }

  .initiative-link::after {
    content: '';
    position: absolute;
    inset: 0;
  }

  .initiative-link:hover::after {
	overflow: hidden;
	border-radius: 22px;
	@include mixins.box-shadow;
  }
</style>
<li class="initiative-card">
  <div class="initiative-card-img">
    <div>
      <Image
        class="initiative-card-image"
        src={image}
        height={252}
        width={252}
        alt={title}
      />
    </div>
  </div>
  <div class="initiative-description">
    <a href={url} class="initiative-link">
      <h2 class="initiative-description__title">{title}</h2>
    </a>
    <div class="initiative-description__body">
      <p>
        {summary(body)}
      </p>
      <a href={url}>Read more about {title}</a>
    </div>
  </div>
</li>
