---
import Chip from "@components/Chip.astro";
import { Image } from "astro:assets";
import removeMarkdown from "remove-markdown";
import ChevronRight from '@assets/svg/chevron_right.svg'

const { url, title, image, body, tags } = Astro.props;

const summary = (content: string, length = 300): string => {
  const cleanText = removeMarkdown(content, {
    useImgAltText: false,
  });
  if (cleanText.length <= length) return cleanText;
  return cleanText.substring(0, cleanText.lastIndexOf(" ", length)) + "...";
};

const titleId = (title: string) => {
  const removeSpaces = title.replace(/\s+/g, '-').toLowerCase(); 
  return removeSpaces;
};
---

<style lang="scss">
  @use "openaq-design-system/scss/variables";
  @use "openaq-design-system/scss/mixins/index.scss" as mixins;
  @use "openaq-design-system/scss/utilities/index.scss" as utilities;

  .use-case-card {
    background: #ffffff;
    border: 1px solid variables.$smoke10;
    border-radius: 22px;
    overflow: hidden;
    width: 290px;

    &:hover {
      @include mixins.box-shadow;
    }

    a:nth-child(1) {
      flex: 1;
    }

    &__img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    &__body {
      flex: 2;
      padding: 0 20px;

      .use-case-description {
        p {
          @include mixins.body2;
          padding: 10px 0;
          color: variables.$smoke120;
        }

        span {
          color: variables.$smoke120;
          margin-top: 10px;
          display: flex;
          align-items: center;
        }
      }
      .use-case-description__title {
        @include mixins.heading2;
      }
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      padding: 20px;
    }
  }

  .use-case-card {
    position: relative;
  }

  .use-case-link::after {
    content: '';
    position: absolute;
    inset: 0;
  }
</style>
<li class="use-case-card">
  <div>
    <Image
      class="use-case-card__img"
      src={image}
      width={300}
      alt=""
      aria-labelledby=`use-case-${titleId(title)}`
    />
  </div>

  <div class="use-case-card__body">
    <a href={url} class="use-case-link">
      <h2 class="use-case-description__title" id=`use-case-${titleId(title)}`>{title}</h2>
    </a>
      <div class="use-case-description">
        <p>
          {summary(body)}
        </p>
        <span class="type-link-1">
          Read more about {title}
          <ChevronRight width={24} fill="#5a6672" aria-hidden="true" />
        </span>
      </div>
  </div>
  {
    tags && (
      <div class="tags">
        {tags.map((tag: string) => (
          <Chip tag={tag} url={url} />
        ))}
      </div>
    )
  }
</li>
