---
// import SocialIcons from "./SocialIcons.astro";

const { name, position, portrait, country } = Astro.props;

import { Image } from "astro:assets";

// const summary = (bio: string, length = 300): string => {
//   if (bio.length <= length) return bio;
//   return bio.substring(0, bio.lastIndexOf(" ", length)) + "...";
// };
---

<style lang="scss">
  @use "openaq-design-system/scss/variables";
  @use "openaq-design-system/scss/mixins/index.scss" as mixins;

  @use "./person-card" as *;

  @include person-card("team", variables.$ocean120);
</style>

<article class="advisor-card">
  <Image
    class="person-image"
    src={portrait}
    height={252}
    width={252}
    alt={name}
  />
  <div class="advisor-card__description">
    <h2 class="person-name">{name}</h2>
    <h3 class="person-title">{position}</h3>
    <p class="person-bio">{country}</p>
  </div>
</article>
