---
import SocialIcons from "./SocialIcons.astro";

import { Image } from "astro:assets";

const { name, position, data, socials, portrait } = Astro.props;
---

<style lang="scss">
  @use "openaq-design-system/scss/variables";
  @use "openaq-design-system/scss/mixins/index.scss" as mixins;

  @use "./person-card" as *;

  @include person-card("team", variables.$lavender120);
</style>

<li class="team-card">
  <Image
    class="person-image"
    src={portrait}
    height={252}
    width={252}
    alt={name}
  />

  <div class="team-card__description">
    <h3 class="person-name">{name}</h3>
    <h4 class="person-title">{position}</h4>
    <p class="person-bio">{data}</p>
    <SocialIcons {...socials} />
  </div>
</li>
