---
const {
  x,
  bluesky,
  mastadon,
  linkedin,
  github,
  email,
  googleScholar,
  orcid,
  researchGate,
} = Astro.props;

const emailHref = `mailto:${email}`;

import XLogo from "@assets/svg/x_logo.svg";
import BlueskyLogo from "@assets/svg/bluesky_logo.svg";
import LinkedinLogo from "@assets/svg/linkedin.svg";
import ResearchGateLogo from "@assets/svg/research_gate.svg";
import OrcidLogo from "@assets/svg/orcid.svg";
import GithubLogo from "@assets/svg/github.svg";
import GoogleScholarLogo from "@assets/svg/google_scholar.svg";
import MastadonLogo from "@assets/svg/mastadon.svg";
import MailLogo from "@assets/svg/mail.svg";
---

<style lang="scss">
  .person-social {
    display: flex;
    gap: 18px;
    align-items: center;
    align-content: flex-start;

    a {
      display: flex;
      align-items: centerś;
    }
  }
</style>

<div class="person-social">
  {
    email ? (
      <a href={emailHref}>
        <MailLogo height={12} width={15} />
      </a>
    ) : (
      ""
    )
  }

  {
    linkedin ? (
      <a href={linkedin} target="_blank" rel="noreferrer noopener">
        <LinkedinLogo width={15} />
      </a>
    ) : (
      ""
    )
  }

  {
    github ? (
      <a href={github} target="_blank" rel="noreferrer noopener">
        <GithubLogo width={15} />
      </a>
    ) : (
      ""
    )
  }
  {
    x ? (
      <a href={x} target="_blank" rel="noreferrer noopener">
        <XLogo width={15} />
      </a>
    ) : (
      ""
    )
  }

  {
    bluesky ? (
      <a href={bluesky} target="_blank" rel="noreferrer noopener">
        <BlueskyLogo width={15} />
      </a>
    ) : (
      ""
    )
  }
  {
    mastadon ? (
      <a href={mastadon} target="_blank" rel="noreferrer noopener">
        <MastadonLogo width={15} />
      </a>
    ) : (
      ""
    )
  }

  {
    googleScholar ? (
      <a href={googleScholar} target="_blank" rel="noreferrer noopener">
        <GoogleScholarLogo width={15} />
      </a>
    ) : (
      ""
    )
  }
  {
    orcid ? (
      <a href={orcid} target="_blank" rel="noreferrer noopener">
        <OrcidLogo width={15} />
      </a>
    ) : (
      ""
    )
  }
  {
    researchGate ? (
      <a href={researchGate} target="_blank" rel="noreferrer noopener">
        <ResearchGateLogo width={15} />
      </a>
    ) : (
      ""
    )
  }
</div>
