---
import SocialIcons from "./SocialIcons.astro";

import { Image } from "astro:assets";

const { name, position, url, data, socials, portrait } = Astro.props;

const summary = (bio: string, length = 300): string => {
  if (bio.length <= length) return bio;
  return bio.substring(0, bio.lastIndexOf(" ", length)) + "...";
};
---

<style lang="scss">
  @use "openaq-design-system/scss/variables";
  @use "openaq-design-system/scss/mixins/index.scss" as mixins;

  @use "./person-card" as *;

  @include person-card("team", variables.$sky100);

  .team-card {
    position: relative;
  }
  .team-card:hover {
    @include mixins.box-shadow;
  }
  .card-link::before {
		content: '';
		position: absolute;
		inset: 0;
    z-index: 1;
	}
</style>

<li class="team-card">
  <a href={url} class="card-link">
    <Image
      class="person-image"
      src={portrait}
      height={252}
      width={252}
      alt={name}
    />
  </a>
  <div class="team-card__description">
    <h2 class="person-name">{name}</h2>
    <h3 class="person-title">{position}</h3>
    <p class="person-bio">{summary(data)}</p>
    <SocialIcons {...socials} />
  </div>
</li>
